spring:
  profiles:
    active: local
  batch:
    job:
      names: ${job.name:NONE}

---
spring:
  profiles:
    active: local
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password:
      driver-class-name: org.h2.Driver
---
spring:
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://192.168.99.100:3306/spring_batch
      username: root
      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    active: mysql